<div>
  <div class="jumbotron">          
    <a href="http://www.postechdirect.co.za/images/IQRetail_brochure.pdf" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-search"></span> Search</a>
  </div>

    <h2 class="text-center">Learners Details</h2>           

	<div class="main-container container">
			<!-- button starts-->
		<div class="navbar container btn-container col-xs-12">
			
			<div class="row col-xs-12">	
				<button type="button" class="btn" onclick="location.href='/learner'" class="col-xs-3">
					Learners
				</button>
				<!--button onclick="location.href='/CustTran'" class="col-xs-3">
					CustTran
				</button>
				<button onclick="location.href='transaction'" class="col-xs-3">
					Transaction
				</button>
				<button onclick="location.href='customer/sort'" class="col-xs-3">
					Sort
				</button-->
			</div>

	</div>
